@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 0;
}

header {
  position: relative;
  width: 100%;
  z-index: 2;
}

header .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 5px 0;
}

.search__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Arbutus Slab", serif;
  padding-left: 5px;
  height: 30px;
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.search__input::-moz-placeholder {
  color: #717171;
}

.search__input:-ms-input-placeholder {
  color: #717171;
}

.search__input::-webkit-input-placeholder {
  color: #717171;
}

.search__input::-ms-input-placeholder {
  color: #717171;
}

.search__input::placeholder {
  color: #717171;
}

.search__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__button img {
  max-width: 15px;
}

@media (max-width: 1200px) {
  header .body {
    padding: 0 10px;
  }
}

.films {
  padding-top: 20px;
}

.films .body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.film {
  overflow: hidden;
  position: relative;
}

.film__body {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.4);
}

.film__body:hover {
  opacity: 1;
}

.film__bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.film__rating {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
}

.film__year {
  font-family: "Sansita", sans-serif;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.film__img {
  max-width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .films .body {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10px;
  }
}

@media (max-width: 900px) {
  .films .body {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 360px) {
  .films .body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 250px) {
  .films .body {
    grid-template-columns: 1fr;
  }
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: -3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 0.5s, right 0.5s;
  -o-transition: opacity 0.5s, right 0.5s;
  transition: opacity 0.5s, right 0.5s;
  background-color: rgba(0, 0, 0, 0.9);
}

.burger__menu {
  right: 300px;
  -webkit-transition: opacity 0.5s, right 0.5s;
  -o-transition: opacity 0.5s, right 0.5s;
  transition: opacity 0.5s, right 0.5s;
  position: relative;
  background-color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
}

.burger__another {
  width: 100%;
}

.burger__exit {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.burger__link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: black;
  margin: 5px 0;
  padding: 5px;
}

.burger__link:hover {
  background-color: rgb(69, 69, 69);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link__active {
  background-color: white !important;
  color: black;
}

.burger__exit svg {
  max-width: 30px;
  max-height: 30px;
  fill: white;
  cursor: pointer;
}

.films__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  background-color: rgb(0, 238, 255);
}

.body {
  max-width: 1200px;
  margin: 0 auto;
}