// body
.films {
    padding-top: 20px;
}

.films .body {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}


// film item
.film {
    overflow: hidden;
    position: relative;
}

.film__body {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.4);
}

.film__body:hover {
    opacity: 1;
}

.film__bottom {
    background-color: black;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.film__name {
    color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.film__rating {
    color: white;
}

.film__year {
    color: white;
}

.film__img {
    background-color: rgb(173, 173, 173);
}

.film__img img {
    height: 100%;
    max-width: 100%;
}


// Responsive
@media (max-width: 1200px) {
    .films .body {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 10px;
    }
}

@media (max-width: 900px) {
    .films .body {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 360px) {
    .films .body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 250px) {
    .films .body {
        grid-template-columns: 1fr;
    }
}