header {
    background-image: linear-gradient(45deg, #00F0FF 50%, #E56FCB);
    position: relative;
    width: 100%;
    z-index: 2;
}

header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: 'Kavoon', cursive;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.header__burger img {
    max-width: 25px;
    opacity: 0.9;
    cursor: pointer;
}

.header__search {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 10px 0;
}

.search__input {
    font-family: 'Arbutus Slab', serif;
    padding-left: 5px;
    height: 30px;
    max-width: 100%;
    flex: 1 1 auto;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;

    &::placeholder {
        color: #717171;
    }
}

.search__button {
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        max-width: 15px;
    }
}

@media (max-width: 1200px) {
    header .body {
        padding: 0 10px;
    }
}