@import "_reset";
@import "_fonts";
@import "_header";
@import "_films";
@import "_burger";
@import "_pagination";

body {
    background-color: rgb(0, 238, 255);
}

.body {
    max-width: 1200px;
    margin: 0 auto;
}