@import "_reset";
@import "_fonts";
@import "_header";
@import "_films";


.body {
    max-width: 1200px;
    margin: 0 auto;
}



// Responsive
@media (max-width:1200px) {
    .body {
        padding: 0 20px;
    }
}