* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: rgb(255, 255, 255);
}

.films {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.film__poster img {
    max-width: 100%;
    border-radius: 10px;
}

.film {
    width: 200px;
    border-radius: 10px;
    position: relative;

}