@import "_reset";
@import "_fonts";
@import "_header";
@import "_films";
@import "_burger";
@import "_pagination";

body {
    background: url(../img/bg.png) center center / cover no-repeat fixed;
}

.body {
    max-width: 1200px;
    margin: 0 auto;
}